blinker==1.8.2
click==8.1.7
colorama==0.4.6
fastjsonschema==2.19.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==1.26.3
opencv-python-headless==4.9.0.80
pillow==10.2.0
pure-eval==0.2.2
pywin32==306
scikit-learn==1.4.2
scipy==1.13.0
threadpoolctl==3.5.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
